<footer class="footer">
        <div class="footer-row">
            <div class="footer-column">
                <div class="footer-info">
                    <img src="../../assets/image/logo.png" alt="">
                    <h3>Kisco (Vietnam) Ltd</h3>
                    <h5><i class='bx bx-envelope'></i>info@kisco-net.vn</h5>
                </div>
                <div class="footer-info">
                    <h4>HANOI HEAD QUARTER</h4>
                    <h5>Unit CP1.07.02B, 7th Floor, Tower 1, Capital Place, No 29 Lieu Giai <br>Street, Ngoc Khanh Ward, Ba Dinh District, Hanoi, Vietnam</h5>
                    <h5>TEL. +84-24-3772-5405 / FAX. +84-24-3772-5407</h5>
                </div>
                <div class="footer-info">
                    <h4>HO CHI MINH CITY BRANCH</h4>
                    <h5>Room No.4, 9th Floor, Vincom Center,72-74 Le Thanh Ton, <br>Ben Nghe Ward, District 1, HCM City</h5>
                    <h5>TEL. +84-28-3636-3734</h5>
                </div>
            </div>
        </div>
        <div class="footer-box">
            <div class="footer-bottom">
                <div class="footer-text">
                    <h6>© Copyright Kisco (Vietnam) Ltd. 2024 All rights reserved.</h6>
                </div>
                <div class="footer-site">
                    <a href="">Site map</a>
                    <a href="">Privacy Policy</a>
                    <a href="">Term of Use</a>
                </div>
            </div>
        </div>
    </footer>