<header class="page-header">
    <nav class="navbar">
        <div class="logo">
                <a href="/{{ locale }}/">
                    <img class="logo-img" src="../../assets/image/logo-small.png" alt="">
                </a>
        </div>
        <div class="nav-links">
            <ul role="list">
                    <li><a href="/{{ locale }}/">Home</a></li>
                    <li><a href="/{{ locale }}/about/">About</a></li>
                    <li><a href="/{{ locale }}/business/">Product & Service</a></li>
                    <li><a href="/{{ locale }}/news/">News</a></li>
                    <li><a href="/{{ locale }}/recruit/">Recruitment</a></li>
            </ul>
            <a class = "contact-link" href="/{{ locale }}/contact/">
            <button class="contact-head">
                Contact us
            </button></a>
        </div>
        

        <div class="menu-btn">
                <div class="hamburger-icon" id="icon">
                        <div class="icon-1" id="a"></div>
                        <div class="icon-2" id="b"></div>
                        <div class="icon-3" id="c"></div>
                        <div class="clear"></div>
                </div>
        </div>
        <div class="lang-box">
            <img class="flag{{ 'select_lang' | i18n }}" alt="">
            <span class="lang-select">{{ 'select_lang' | i18n }}</span>
            <i class='bx bx-chevron-down lang-drop'></i>
            <div class="lang-list">
            {% include "components/language.njk" %}
            </div>
        </div>

    </nav>
</header>
<script src="/header.js"></script>