<header class="page-header">
    <nav class="navbar">
        {% include "components/navbar.njk" %}
        

        <div class="menu-btn">
                <div class="hamburger-icon" id="icon">
                        <div class="icon-1" id="a"></div>
                        <div class="icon-2" id="b"></div>
                        <div class="icon-3" id="c"></div>
                        <div class="clear"></div>
                </div>
        </div>
        <div class="lang-box">
            <img class="flag{{ 'select_lang' | i18n }}" alt="">
            <span class="lang-select">{{ 'select_lang' | i18n }}</span>
            <i class='bx bx-chevron-down lang-drop'></i>
            <div class="lang-list">
                
            {% include "components/language.njk" %}
            </div>
        </div>

    </nav>
</header>
<script src="/header.js"></script>