{% set pageUrl = page.url.split('/').slice(2).join('/') %}

{% if locales.length %}

            {% for locale in locales -%}
            <li><img src="{{ locale.flag }}"><a class="lang-type" href="/{{ locale.code }}/{{ pageUrl }}" rel="alternate" hreflang="{{ locale.code }}">{{ locale.label }}</a></li>
          {% endfor -%}

{% endif %}
