

<div class="logo">
                <a href="/{{ locale }}/">
                    <img class="logo-img" src="{{ meta.pathLogo }}" alt="">
                </a>
</div>
<div class="nav-links">
            <ul role="list">
                    <li class="nav-home"><a href="/{{ locale }}/">Home</a></li>
                    <li class="nav-about"><a class ="about" href="/{{ locale }}/about/">About</a></li>
                    <li class="nav-business"><a href="/{{ locale }}/business/">Product & Service</a></li>
                    <li class="nav-news"><a href="/{{ locale }}/news/">News</a></li>
                    <li class="nav-recruit"><a href="/{{ locale }}/recruit/">Recruitment</a></li>
            </ul>
            <a class = "contact-link" href="/{{ locale }}/contact/">
            <button class="contact-head">
                Contact us
            </button></a>
</div>