

<div class="logo">
                <a href="/{{ locale }}/">
                    <img class="logo-img" src="{{ meta.pathLogo }}" alt="">
                </a>
</div>
<div class="nav-links">
            <ul role="list">
                    <li class="nav-home"><a href="/{{ locale }}/">{{ 'nav1' | i18n }}</a></li>
                    <li class="nav-about"><a class ="about" href="/{{ locale }}/about/">{{ 'nav2' | i18n }}</a></li>
                    <li class="nav-business"><a href="/{{ locale }}/business/">{{ 'nav3' | i18n }}</a></li>
                    <li class="nav-news"><a href="/{{ locale }}/news/">{{ 'nav4' | i18n }}</a></li>
                    <li class="nav-recruit"><a href="/{{ locale }}/recruit/">{{ 'nav5' | i18n }}</a></li>
            </ul>
            <a class = "contact-link" href="/{{ locale }}/contact/">
            <button class="contact-head">
                {{ 'nav6' | i18n }}
            </button></a>
</div>