---
title: KISCO (VIETNAM) LTD

---
{% set body_class = "about" %}
{% extends "base.njk" %}
{% block main %}
<main class="sub-page">
    <div class="main-box about">
        <div class="text-box">
            <h1>ABOUT US</h1>
        </div>
        <div class="path">
            <p><a href="/{{ locale }}/">Home</a></p><i class='bx bx-chevron-right' ></i><p><a href="/{{ locale }}/about/">About</a></p><i class='bx bx-chevron-right' ></i><p><a href="">History</a></p>
        </div>
    </div>
    <div class="title-bar">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="/{{ locale }}/about/overview">Overview</a></div>
            <div class="swiper-slide"><a href="/{{ locale }}/about/location">Locations</a></div>
            <div class="swiper-slide"><a class="active" href="/{{ locale }}/about/history">Corporate History</a></div>
            <div class="swiper-slide"><a href="/{{ locale }}/about/message">Message</a></div>
        </div>
        <div class="swiper-button-prev"><i id="left" class='bx bxs-left-arrow'></i></div>
        <div class="swiper-button-next"><i id="right" class='bx bxs-right-arrow'></i></div>
    </div>
    </div>

    <section class="history">
        <h1>Corporate <red>History</red></h1>
        <div class="timeline-items">
            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">2007</div>
                <div class="timeline-content hidden">
                    <h3>Company Established</h3>
                    <p>Today is the first day that KSV establish and we choose Harec Building at 4A Lang Ha street as our first step in Vietnam</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">2009</div>
                <div class="timeline-content hidden">
                    <h3>Set-up bonded Warehouse</h3>
                    <p>Choose Haiphong provice as the first bonded Warehouse because it near the Port and most item is for Sea shipment</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">2010</div>
                <div class="timeline-content hidden">
                    <h3>Sign contract with Senju Metal</h3>
                    <p>Senju is one of our most important Partner that we want to develop in Vietnam. Senju is the leading of solder metal and own many technologies</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">2012</div>
                <div class="timeline-content hidden">
                    <h3>Open HCM brach office</h3>
                    <p>Ho Chi Minh city is an important location with many FDI business looking for. We want to make sure that our expansion in HCM can support southern customers</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">2014</div>
                <div class="timeline-content hidden">
                    <h3>Food processing with NaFoods</h3>
                    <p>Vietnam is a country with very strong food processing business. We have cooperate with NaFoods to export many type of seeds to Japan market</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">2015</div>
                <div class="timeline-content hidden">
                    <h3>Establish SCS Coating Factory</h3>
                    <p>Parylene material is an ISO 9001 certified, multi-purpose coating center servicing Japan and surrounding regions with Parylene coating services, systems and raw materials.</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">2018</div>
                <div class="timeline-content hidden">
                    <h3>Acquired Chemical license</h3>
                    <p>KSV has success one very important step to become chemical distributor in Vietnam market</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">2021</div>
                <div class="timeline-content hidden">
                    <h3>Relocate Hanoi Head Quarter</h3>
                    <p>Our head quarter has been move to Capital Building which is one of 6 star office building in Vietnam. We provide best working environment for our employees and our visitor</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">2022</div>
                <div class="timeline-content hidden">
                    <h3>Relocate HCM office</h3>
                    <p>We move our office to Vincome Center (Dong Khoi) with better area in center of HCM city</p>
                </div>
            </div>

        </div>

        <div class="vl"></div>
    <div class="send-email">
        <button onclick="location.href='mailto:info@kisco-net.vn';"><i class='bx bx-envelope' ></i>E-mail Us</button>
    </div>
    </section>

</main>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 2,
        spaceBetween: 10,
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    breakpoints: {
        640: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
    },
  });

const observer = new IntersectionObserver((entries) => {
  entries.forEach((entry) => {
    console.log(entry)
    if (entry.isIntersecting) {
      entry.target.classList.add("animate");
    } else {
      entry.target.classList.remove("animate");
    }
  });
});

const hiddenElements = document.querySelectorAll('.hidden');
hiddenElements.forEach((el) => observer.observe(el));

</script>
{% endblock %}