---
title: KISCO (VIETNAM) LTD
---
{% set mainCat = page.url.split('/').slice(3, 4) %}
{% set subCat = page.url.split('/').slice(4).join('') %}

{% set body_class = "business" %}
{% extends "base.njk" %}
{% block main %}
<main class="sub-page">

<div class="main-box business">
    <div class="text-box">
        <h1>PRODUCTS & SERVICES</h1>
    </div>
    <div class="path">
        <p><a href="/{{ locale }}/">Home</a></p><i class='bx bx-chevron-right' ></i><p><a href="/{{ locale }}/business">Business</a></p><i class='bx bx-chevron-right' ></i><p><a href="/{{ locale }}/business/electronic">Electronic</a></p><i class='bx bx-chevron-right' ></i><i class='bx bx-slider-alt' style="font-size: 16px;"></i>
    </div>
</div>
{% set title_class = mainCat + ' ' + subCat %}

{% include "components/titlebar.njk" %}
    
    <section class="product-sub">
        <div class="show-title">
        <button class="btn-drop" id="btn-drop"><i class='bx bx-chevrons-down'></i></button>
        </div>
        <h1>Electronic - <red>Modified Epoxy Resin</red></h1>

        <div class="part second">
            <div class="text">
                <h4>The Evolution of Technology</h4>
                <p>
                    The Fine Polymers Group is an "R&D-oriented company" belong to KISCO group and it develops and provides technologies and products that meet the needs of our customers, with a focus on resin products for electronic components and semiconductor chemicals. Our mission is to contribute widely to society by providing our independently developed products and technologies for a variety of applications through our customers.
                </p>
                <div class="list-item">
                    <div class="item-container">
                        <div class="item-title">
                            <h4>Epoxy resin compound products</h4>
                            <div class="btn-link top">
                                <a href="https://www.fine-polymers.co.jp/epifine/index.html" target="_blank">
                                <button>
                                Click for more details<i class='bx bx-link-external'></i>
                                </button>
                                </a>
                            </div>
                        </div>
                        
                        <div class="item-content">
                            <div class="img-container">
                                <img src="/assets/product/cat1/epoxy1.png">
                            </div>
                            <div class="table-container">
                                <table>
                                    <tr>
                                        <td>Trademarks</td>
                                        <td>EpiFine™</td>
                                    </tr>
                                    <tr>
                                        <td>Main Products</td>
                                        <td>Sealing of small electronic components, adhesives (1 component),
                                            sealants for light emitting diodes (LEDs) (2 components),
                                            casting of electronic components, sealants, adhesives (2 components), and
                                            resin formulation products (epoxy resin heating, melting and mixing)</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="btn-link">
                                    <a href="https://www.fine-polymers.co.jp/epifine/index.html" target="_blank">
                                    <button>
                                    Click for more details<i class='bx bx-link-external'></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="item-title">
                            <h4>Polymer remover for water-based semiconductors</h4>
                            <div class="btn-link top">
                                <a href="https://www.fine-polymers.co.jp/ecopeeler/index.html" target="_blank">
                                <button>
                                Click for more details<i class='bx bx-link-external'></i>
                                </button>
                                </a>
                            </div>
                        </div>
                        
                        <div class="item-content">
                            <div class="img-container">
                                <img src="/assets/product/cat1/logo_ecopeeler.svg">
                            </div>
                            <div class="table-container">
                                <table>
                                    <tr>
                                        <td>Trademarks</td>
                                        <td>EcoPeeler™</td>
                                    </tr>
                                    <tr>
                                        <td>Main Products</td>
                                        <td>for Al wiring processesCu
                                            wiring processesTransistor
                                            forming processesLow-k
                                            materialsSurface processing,
                                            protection, and cleaning of metal thin-film products</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="btn-link">
                                    <a href="https://www.fine-polymers.co.jp/ecopeeler/index.html" target="_blank">
                                    <button>
                                    Click for more details<i class='bx bx-link-external'></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </section>

    <section class="best-selling">
        <h1>Contributing to the development of customers' products</h1>
        <div class="part first">
            <div class="text">
                <h4>Research and development</h4>
                <p>The Fine Polymers Group develops products that support advanced electronics, including epoxy resins in the electrical and electronics fields, as well as chemicals used in the semiconductor field.
                <br>
                Our mission is to listen to the voices of our customers and develop products that meet their needs, and we will strive to propose technologies and products that are more effective for our customers based on our accumulated know-how and the latest knowledge.
                </p>
            </div>
            <div class="part-img">
                <div class="img1">
                    <img src="/assets/product/cat1/fpc3.jpg">
                    
                </div>
            </div>
        </div>
        <div class="part first">
            <div class="text">
                <h4>Production & Quality</h4>
                <p><span class="k">Company-wide Manufacturing: </span>In order to reflect customer needs in our products and create better products, the technology, production, and quality assurance departments share information and conduct integrated production activities.
                <br>
                <span class="k">Strict Quality Control: </span>We manage the products we produce every day based on management standards and systems based on ISO9001 certification, and feed back the information to the production site to create products of higher quality.
                <br>
                <span class="k">Thorough Trend Management: </span>
                We manage the data of each of our various products and strive to create optimal products that meet the needs of our customers.
                </p>
            </div>
            <div class="part-img right">
                <div class="img1">
                    <img src="/assets/product/cat1/fpc2.jpg">
                    
                </div>
            </div>
        </div>
        <div class="vl"></div>
        <div class="send-email">
        <button onclick="location.href='mailto:info@kisco-net.vn';"><i class='bx bx-envelope' ></i>E-mail Us</button>
    </div>
    </section>
</main>



{% endblock %}
