---
title: KISCO (VIETNAM) LTD
---
{% set mainCat = page.url.split('/').slice(3, 4) %}
{% set subCat = page.url.split('/').slice(4).join('') %}

{% set body_class = "business" %}
{% extends "base.njk" %}
{% block main %}
<main class="sub-page">

<div class="main-box business">
    <div class="text-box">
        <h1>PRODUCTS & SERVICES</h1>
    </div>
    <div class="path">
        <p><a href="/{{ locale }}/">Home</a></p><i class='bx bx-chevron-right' ></i><p><a href="/{{ locale }}/business">Business</a></p><i class='bx bx-chevron-right' ></i><p><a href="/{{ locale }}/business/electronic">Electronic</a></p><i class='bx bx-chevron-right' ></i><i class='bx bx-slider-alt' style="font-size: 16px;"></i>
    </div>
</div>
{% set title_class = mainCat + ' ' + subCat %}

{% include "components/titlebar.njk" %}
    
    <section class="product-sub">
        <div class="show-title">
        <button class="btn-drop" id="btn-drop"><i class='bx bx-chevrons-down'></i></button>
        </div>
        <h1>Electronic - <red>Solder Material</red></h1>
    </section>
</main>



{% endblock %}
