---
title: KISCO (VIETNAM) LTD
---

{% set body_class = "business" %}
{% extends "base.njk" %}
{% block main %}
<main class="sub-page">

<div class="main-box business">
    <div class="text-box">
        <h1>PRODUCTS & SERVICES</h1>
    </div>
    <div class="path">
        <p><a href="/{{ locale }}/">Home</a></p><i class='bx bx-chevron-right' ></i><p><a href="/{{ locale }}/business">Business</a></p>
    </div>
</div>
{% set title_class = "" %}
{% include "components/titlebar.njk" %}
    
    <section class="product-sub">
        <div class="show-title">
        <button class="btn-drop" id="btn-drop"><i class='bx bx-chevrons-down'></i></button>
        </div>
        <h1> <red>Product </red> Categories</h1>

        <p>Kisco Group create the ultimate values by aiming to provide the maximum satisfactions of our customers as integrated material solution providers. We always aim to provide optimal solutions by considering the quality, cost and environment.</p>
        <div class="product-content">
        <div class="product-box">
                <a href="/{{ locale }}/business/electronic/">
                    <img src="/assets/product/product1.jpg" alt="">
                    <div class="project-title">
                        <div class="p-text">
                            <h3>Electronics</h3>
                        </div>
                    </div>
                </a>
        </div>
        <div class="product-box">
                <a href="/{{ locale }}/business/plastic/">
                    <img src="/assets/product/product2.jpg" alt="">
                    <div class="project-title">
                        <div class="p-text">
                            <h3>Plastic</h3>
                        </div>
                    </div>
                </a>
        </div>
        <div class="product-box">
                <a href="/{{ locale }}/business/parylene/">
                    <img src="/assets/product/product3.jpg" alt="">
                    <div class="project-title">
                        <div class="p-text">
                            <h3>Parylene Coating</h3>
                        </div>
                    </div>
                </a>
        </div>
        <div class="product-box">
                <a href="/{{ locale }}/business/chemical/">
                    <img src="/assets/product/product4.jpg" alt="">
                    <div class="project-title">
                        <div class="p-text">
                            <h3>Chemical</h3>
                        </div>
                    </div>
                </a>
        </div>
        <div class="product-box">
                <a href="/{{ locale }}/business/lifescience/">
                    <img src="/assets/product/product5.jpg" alt="">
                    <div class="project-title">
                        <div class="p-text">
                            <h3>Life Science</h3>
                        </div>
                    </div>
                </a>
        </div>
        <div class="product-box">
                <a href="/{{ locale }}/business/biotechnology/">
                    <img src="/assets/product/product6.jpg" alt="">
                    <div class="project-title">
                        <div class="p-text">
                            <h3>Biotechnology</h3>
                        </div>
                    </div>
                </a>
        </div>
    </div>


    </section>
    <section class="services">
        <h1><red>Services</red> Provide</h1>
        <p>As material specialists, we have sustained the new product developments in various fields through the corporate activities that take advantage of our experiences and achievements in providing advanced materials for each era. Nowadays, the scopes of our activities extend to develop original products depending on the material needs by our customers in addition to providing the optimal material selections  or consulting the processing services.
            <br>We provide our customers with the best possible “information”, “materials”, “products”, “technologies” and “services” in a wide range of industries.</p>
    
        <div class="service-container">
            <div class="service-card">
                <div class="imgbx">
                    <img src="/assets/product/service/service1a.png">
                    <h4>Vendor-managed inventory (VMI)</h4>
                </div>
                <div class="service-content">
                    <p>From Upstream supply chain until Downstream supply chain of various markets in our target domains as Electronics, Plastics, Chemicals, we engage in the business and provide the optimal values.
                        We can utilize the wide global networks of branches & our business partners as well as manufacturing or processing functions by our group companies in order to make best proposals.
                        With the achievements and experiences backed by 100 years operations of KISCO group, We aim to provide better solutions.</p>
                </div>
            </div>
            <div class="service-card">
                <div class="imgbx">
                    <img src="/assets/product/service/service2a.jpg">
                    <h4>Hot-runner Maintenance</h4>
                </div>
                <div class="service-content">
                    <p>Hot runner refurbishment or maintenance programs can refresh or replace wear items in the 
                        assembly with genuine Seiki replacement parts. Inspection of key features of the hot runner ensures 
                        that bore depths and preload are still within tolerance, and tip and stem heights meet criteria needed 
                        for proper mold interface. Upon completion of assembly, the hot runner is heat-tested to confirm 
                        all heaters and thermocouples work as required. All work is performed by highly trained Seiki 
                        technicians. </p>
                </div>
            </div>
            <div class="service-card">
                <div class="imgbx">
                    <img src="/assets/product/service/service3a.jpg">
                    <h4>Solder Sample Analysis</h4>
                </div>
                <div class="service-content">
                    <p>Kisco's Solder Pot Analysis Program provides a complete quantitative report on solder pot composition for preventive maintenance or for solving specific solder-related problems. AIM's analytical services are most often used to assure the solder pot has not become contaminated with other metals. Samples are analyzed to determine concentrations for tin and lead and a wide variety of contaminants through the use of analytical spectroscopy.</p>
                </div>
            </div>
        </div>
    </section>
</main>


{% endblock %}
