---
title: KISCO (VIETNAM) LTD
---
{% set mainCat = page.url.split('/').slice(3, 4) %}
{% set subCat = page.url.split('/').slice(4).join('') %}
{% set body_class = "business" %}
{% extends "base.njk" %}
{% block main %}
<main class="sub-page">

<div class="main-box business">
    <div class="text-box">
        <h1>PRODUCTS & SERVICES</h1>
    </div>
    <div class="path">
        <p><a href="/{{ locale }}/">Home</a></p><i class='bx bx-chevron-right' ></i><p><a href="/{{ locale }}/business">Business</a></p><i class='bx bx-chevron-right' ></i><p><a href="">Electronic</a></p>
    </div>
</div>
{% set title_class = mainCat + ' ' + subCat %}
{% include "components/titlebar.njk" %}
    
    <section class="product-sub">
        <div class="show-title">
        <button class="btn-drop" id="btn-drop"><i class='bx bx-chevrons-down'></i></button>
        </div>
        <h1><red>Electronic</red></h1>

         <div class="part first">
            <div class="text">
                <h4>Value added services for the electronics industry</h4>
                <p>KISCO supports the electronics industry from the material aspect. In the electronics related market which develops in various processes, our motto is to provide materials to our customers in an accurate and rapid manner using our expertise in various fields as well as our mastery (‘know-how’) of material properties.
                   <br>The electronics industry continues to drive an increasing need for innovation, miniaturization, and cost competitiveness. KISCO Electronics connects chemistry by providing the most effective industry channel for our customers and suppliers. 
                </p>
            </div>
            <div class="part-img">
                <img class="img-part1" src="/assets/product/cat1/electronic1.jpg">
            </div>
        </div>
        <div class="part second">
            <div class="text">
                <h4>Generating value through broad expertise</h4>
                <p>We offer our customers a diverse portfolio of products and services and develop successful collaborations by creating value through our innovative and cost-effective solutions to support the growth of the following major markets:</p>
                <br>
                <div class="list-part">
                    <li>Semiconductor frontend and backend manufacturing</li>
                    <li>Solar and photovoltaic manufacturing</li>
                    <li>Light Emitting Diode (LED) manufacturing</li>
                    <li>Liquid Crystal Display (LCD) manufacturing</li>
                    <li>Flat Panel Display (FPD) manufacturing</li>
                    <li>UltraPure chemicals</li>
                    <li>Specialty chemicals</li>
                    <li>Recycling solutions</li>
                    <li>Equipment</li>
                    <li>Materials</li>
                    <li>Mixing and blending</li>
                    <li>Regional procurement hub</li>

                </div>
                <br>
                <p>Our experienced team serves to meet each customers’ individual needs by delivering highly customized solutions. Besides offering a wide range of products and services, our core capabilities are in providing reliable and cost-effective logistics, optimizing supply chains, bulk as well as small items deliveries. We also assume responsibilities for regional procurement hub as well as Vendor Managed Inventory.</p>
            </div>
        </div>

    </section>
    <section class="sub-cat">
        <h2>List of products by category/field</h2>
        <div class = "sub-container">
            <a class="sub-content" href='/{{ locale }}/business/electronic/solder/'>
                <div class="icon"><i class='bx bx-slider-alt'></i></div>
                <h4>Solder Material</h4>
                <p>Solder bar, Solder paste, Cored Wire, Flux, Solder Preform, ...</p>
            </a>
            <a class="sub-content" href='/{{ locale }}/business/electronic/adhesive/'>
                <div class="icon"><i class='bx bxs-eyedropper'></i></div>
                <h4>Adhesive & Silicone</h4>
                <p>RTV 1 component, RTV 2 component, Flexible, Quick dry, ...</p>
            </a>
            <a class="sub-content" href='/{{ locale }}/business/electronic/epoxy/'>
                <div class="icon"><i class='bx bx bx-injection'></i></div>
                <h4>Modified Epoxy Resin</h4>
                <p>High heat resistance, Low stress, Low gas, UV curing type, ... </p>
            </a>
            <a class="sub-content" href='/{{ locale }}/business/electronic/enhance/'>
                <div class="icon"><i class='bx bx-carousel'></i></div>
                <h4>PCB Enchancement</h4>
                <p>Coating, Encapsulation, Potting compound, Cleaning agent, ...</p>
            </a>
            <a class="sub-content" href='/{{ locale }}/business/electronic/semicon/'>
                <div class="icon"><i class='bx bx-sitemap'></i></div>
                <h4>Semiconductor</h4>
                <p>Compound wafer, Silicone wafer, Photosensitive solvent, ...</p>
            </a>
            <a class="sub-content" href='/{{ locale }}/business/electronic/display/'>
                <div class="icon"><i class='bx bx-layer'></i></div>
                <h4>Display</h4>
                <p>Liquid crystal, Deflecting plate, Oriented film, Spacer, ...</p>
            </a>
            <a class="sub-content" href='/{{ locale }}/business/electronic/rfid/'>
                <div class="icon"><i class='bx bx-rfid'></i></div>
                <h4>RFID</h4>
                <p>RFID Reader, UHF Antenna, Multiple tag, RFID Module, ...</p>
            </a>
        </div>

    </section>
</main>

{% endblock %}
