:root {
  --fs-200: 0.8235rem;
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;
  --ff-body: "Poppins", sans-serif;
  --ff-heading: "Poppins", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  --menubar: #ffffff;
  --line-style1: #eeeeee;
  --main-text: #1c1c1c;
  --active-text: #A80023;
  --btn-active: #82001a;
  --news-text:#353535;
  --progress-bar: #7878783c;
  --hover-effect: #fff5f5;


}

@media (min-width: 45em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
  display:flex;
  flex-direction: column;
  
}

h1,
h2,
h3 {
  font-family: var(--ff-body);
  line-height: 1.1;
}


p {
  font-weight: var(--fw-400);
  letter-spacing: 0.05em;
}

strong {
  font-weight: var(--fw-700);
}

  /* //////////////////////
    Header
    /////////////////////// */

.page-header {
  height: 4.6785rem;
  border-bottom: 1px solid var(--line-style1);
  position: fixed;
  width: 100%;
  display: flex;
  background: var(--menubar);
  z-index: 999;
}


.page-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding-inline: 0.6em;
  width: 92rem;
  position: relative;
  gap: 20px;
}

.page-header nav .logo a {
  text-decoration: none;
  color: var(--main-text);
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
}

.page-header nav .logo img {
  width: clamp(120px, 40vw, 240px);
}

.page-header nav .logo p {
  color: var(--main-text);
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
}

.page-header nav .nav-links{
  margin-left:auto;
  display: flex;
  align-items: center;
  gap: 20px;
  background: var(--menubar);
  z-index: 999;
}

.page-header nav .nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  z-index: 999;
  background:var(--menubar);
}

.page-header nav .nav-links ul li a {
  text-decoration: none;
  color: var(--news-text);
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
}

.page-header nav .nav-links ul li a:hover {
  color: var(--active-text);
}

.lang-box {
  padding: 2px 10px;
  cursor: pointer;
  user-select: none;
}

.lang-box .flagEN {
  content: url("assets/plugin/lang-icon/us.png")
}

.lang-box .flagVN {
  content: url("assets/plugin/lang-icon/vn.png")
}

.lang-box .flagJP {
  content: url("assets/plugin/lang-icon/jp.png")
}


.lang-box span {
  font-size: var(--fs-300);
  font-weight: var(--fw-500);

}

.lang-box i{
  transform: translateY(2px);
  transition: all 0.3s ease-out;
}

.lang-box i.drop {
  transform: rotate(180deg) translateY(-2px);
}

.lang-box .lang-list {
  display: none;
  color: var(--news-text);
  position: absolute;
  list-style: none;
  border: 1px solid var(--line-style1);
  background: var(--menubar);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 80px;
  right: 1em;
  padding: 0.5em 0;
  cursor: default;
  z-index: 1000;
}

.lang-box .lang-list li {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 0.2em 0.7em;

}

.lang-box .lang-list li a{
  text-decoration: none;
  color: var(--main-text);
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
}

.lang-box .lang-list li:hover {
  background: var(--hover-effect);
}

.lang-box .lang-list li img{
  margin-right: 8px;
}

.lang-box .lang-list.drop {
  display: flex;
  flex-direction: column;
}




.contact-link {
  text-decoration: none;
}

.contact-head {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: var(--active-text);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--menubar);
  font-weight: var(--fw-600);
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: var(--fs-300);
  font-family: var(--ff-body);
}

.contact-head:hover {
  border-color: #fff9;
  cursor: pointer;
}

.contact-head:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.contact-head::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}


@media (max-width: 65em) {

  .page-header nav .nav-links {
    display: none;
  }

  .page-header nav .contact-head {
    display: none;
  }

  nav.show .nav-links{
    display: block;
    position: absolute;
    top: 4.6785rem;
    left: 0px;
    width: 100%;
    background: var(--menubar);
    box-shadow: 0 15px 15px -15px rgba(0,0,0,0.3);
    padding-right: 20vw;
    animation: slideDown 0.6s cubic-bezier(.62,.04,.3,1.56);
    animation-fill-mode:forwards;
    transform:scale(1);
    transform-origin: top center;
    padding-bottom: 0.8rem;
    z-index: 999;
  }

  nav.show .nav-links ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    justify-content: space-between;
    margin-top: 0.4em;
  }

  nav.show .nav-links ul li {
    font-weight: var(--fw-400);
    line-height: 2.2em;
  }

  nav.show .nav-links ul li a {
    font-size: var(--fs-500);
  }

  nav.show .nav-links ul li::after {
        content: "";
        height: 0.5px;
        background: var(--line-style1);
        width: 84vw;
        position: absolute;
        right: 8vw;
        transform: translateY(2.6em);
  }



  nav.show .contact-link {
    width: 100%;
    position: relative;
    padding-top: 1.4em;
    padding-bottom: 0.2em;
    display: flex;
    justify-content: right;
  }

  nav.show .contact-head {
    display: flex;
    width: 14em;
    height: 3em;
    font-size: var(--fs-400);
  }
  


}




.menu-btn {
  color: var(--main-text);
  font-size: 24px;
  right: 80px;
  width: 40px;
  height: 40px;
  position: absolute;
  display: none;
  padding: 5px;
  background-color: transparent;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}

.menu-btn:hover {
  cursor: pointer;
}
.icon-1, .icon-2, .icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 30px;
  height: 2px;
  background-color: var(--main-text);
  transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  z-index: 1000;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.hamburger-icon.active .icon-1 {
  transform: rotate(40deg);
}
.hamburger-icon.active .icon-3 {
  transform: rotate(-40deg);
}
.hamburger-icon.active .icon-2{
  opacity: 0;
}

@keyframes slideDown {
  0% {
    height: 0;
    transform: scaleY(.3);
    opacity: 0;
    transform: translateY(80);
  }
  
  100% {
    height: auto;
    transform:scaleY(1);
    opacity: 1;
    
  }
}


@media (max-width: 65em) {
  .menu-btn {
    display: block;
    margin-right: 5vw;
  }
}


  /* //////////////////////
    Main
    /////////////////////// */

.main-box{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(71,0,0,0.7)), url(../assets/image/banner1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-box .text-box{
    margin-inline: auto;
    padding-inline: 1.5em;
    max-width: 72rem;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    align-items: center;
    padding-top: 4.6785rem;
    z-index: 10;
    transform: translateY(20%);
    opacity: 0;
    filter: blur(20px);
    animation: showHero 0.5s 1s linear 1 forwards;
    
}


.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: var(--menubar);
  border: 1px solid var(--menubar);
  padding: 12px 34px;
  font-size: 15px;
  letter-spacing: 0.05em;
  background: transparent;
  cursor: pointer;
  width: fit-content;
  
}
.hero-btn:hover{
  border: 1px solid var(--active-text);
  background: var(--active-text);
  transition: 0.5s;
  
}

@keyframes showHero {
  to{
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
  }
}


.bg-sharp {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 4.6785rem;
}

.bg-sharp span {
  height: 100%;
  position: absolute;
}

.bg-sharp img {
  object-fit: cover;
  height: 100%;
  opacity: 0;
  transform:translateX(-100%);
  animation: showContent 0.5s 1s linear 1 forwards;
}

.bg-sharp .s-1 img{
  animation-delay: 0.4s;
}

.bg-sharp .s-2 img{
  animation-delay: 0.6s;
}

@keyframes showContent {
  to{
    transform: translateX(0px);
    opacity: 0.5;
  }
}

@media (max-width: 65em) {
  .bg-sharp {
    height: 50vh;
    overflow: visible;
  }
}

  /* //////////////////////
    Main sub-page
    /////////////////////// */

.sub-page {
  margin-top: 4.6785rem;
}

